<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/security
 http://www.springframework.org/schema/security/spring-security.xsd">

    
    <!-- <context:component-scan base-package="com.veganet.easytransport" /> -->

    <http  use-expressions="true" auto-config="true" >     
        <!-- Interceptor urls -->
        
        <intercept-url pattern="/users/getAllUsers" access="hasRole('ROLE_SADMIN')"/>
       
        <intercept-url pattern="/users/getAllDrivers" access="permitAll"/>
        <intercept-url pattern="/users/getUser/**" access="permitAll"/>
        <intercept-url pattern="/users/updateUser/**" access="permitAll"/>
        <intercept-url pattern="/users/deleteUser/**" access="hasAnyRole('ROLE_SADMIN', 'ROLE_DRIVER')"/>
        <intercept-url pattern="/users/deleteUser2/**" access="hasAnyRole('ROLE_SADMIN', 'ROLE_DRIVER')"/>
        <intercept-url pattern="/users/getUsers" access="hasRole('ROLE_SADMIN')"/>
        <intercept-url pattern="/users/getAllSuperAdmins" access="hasRole('ROLE_SADMIN')"/>
        <intercept-url pattern="/users/getAllAdmins" access="hasRole('ROLE_SADMIN')"/>
       <!-- <intercept-url pattern="/users/getAllDrivers" access="hasAnyRole('ROLE_SADMIN', 'ROLE_ADMIN', 'ROLE_DRIVER')"/>
       -->
        <intercept-url pattern="/users/getAllTravelers" access="hasRole('ROLE_SADMIN')"/>

        <intercept-url pattern="/users/addUser" access="permitAll"/>
        <intercept-url pattern="/users/passwordForgotten/**" access="permitAll"/>

        <intercept-url pattern="/stations/**" access="permitAll"/>
        <intercept-url pattern="/transports/**" access="permitAll"/>
        <intercept-url pattern="/journeys/**" access="permitAll"/>
        <intercept-url pattern="/lines/**" access="permitAll"/>
        <intercept-url pattern="/favorites/**" access="hasAnyRole('ROLE_SADMIN', 'ROLE_TRAVELER')"/>

        <intercept-url pattern="/security/**" access="permitAll"/>
 
        <form-login
        
            default-target-url="/users/getAllUsers"
            authentication-failure-url="/login" always-use-default-target="true" 
            username-parameter="username"
            password-parameter="password"
        />
        <csrf disabled="true"/>
        <!--  /login/{username}/{password} username-parameter="username"
        password-parameter="password"-->
        <!-- Logout -->
        <logout logout-success-url="/logout" />
    </http>



    <authentication-manager alias="authenticationManager">
        <authentication-provider>
            <jdbc-user-service data-source-ref="dataSource"                    
                               users-by-username-query="select USER_NAME , PASSWORD , STATUS from user where USER_NAME=?"   
                               authorities-by-username-query="select USER_NAME ,ACCESS_LEVEL from user where USER_NAME=?"  />
        </authentication-provider>
    </authentication-manager>
    
    <beans:bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
                destroy-method="close">
        <beans:property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <beans:property name="url"
                        value="jdbc:mysql://localhost:3306/easytransportdb" />
        <beans:property name="username" value="root" />
        <beans:property name="password" value="" />
    </beans:bean>

</beans:beans>